*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(69, 217, 190);
}

.wrapper{
    margin-left: 10px;
    margin-right: 10px;
}

#header1{
    height: 50px;
    background-color: rgb(6, 80, 47);
    position: relative;
}

.button{
    height: 50px;
    padding-top: 10px;
    
    position: absolute;
    right: 0%;

}

.button a{
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
    padding-right: 35px;
}

.button a:hover{
    color: aquamarine;
}



#section1{
    height: 150px;
    color: rgba(102, 48, 48, 0.541);
    background-color: aliceblue;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

#section1 h3{
    color: brown;
}

#section2{
    height: 150px;
    color: rgba(19, 16, 16, 0.984);
    text-align: left;
    padding-top: 20px;
    font-size: 43px;
}

#section3{
    height: 360px;
 
    position: relative;
}

#section3 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 370px;
    width: 700px;
}

#section4{
    height: 450px;
    position: relative;
}

#section4 h3{
    font-size: 25px;
}

#section5{
    height: 180px;
    position: relative;
    padding-left: 20px;
}

#section5 a{

text-decoration: none;
font-size: 20px;
}

#section5 a:hover{
    color: aliceblue;
    }
    



#section4 h3{
    text-align: justify;
    color: black;
    font-weight: lighter;
    padding: 20px;

}


footer{
    height: 60px;
    background-color: rgb(6, 33, 21);
    text-align: center;
    color: aliceblue;
    padding-top: 40px;
    font-size: 20px;
}
